*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	color: var(--color-primary);
}

html,
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-family-primary);
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

ul {
	list-style: none;
	padding: 0;
}

:root {
	/* Colors */
	--color-primary: #fff;
	--color-secondary: #000;
	--color-gray: #4d5155;
	--color-light-gray: #f8f9fa;
	--color-hover-gray: #eaeff4;

	--color-green: #1FAA59;
	--color-blue: #2176FF;
	--color-yellow: #E1C16E;
	--color-red: #D72638;

	/* Breakpoints */
	--breakpoint-mobile: 768px;
	--breakpoint-tablet: 1024px;
	--breakpoint-desktop: 1440px;

	/* Gradients */
	--gradient-primary: linear-gradient(-45deg, #4caf50, #2196f3, #9c27b0, #f44336);

	/* Shadows */
	--shadow-dropdown: 0 4px 6px rgba(0, 0, 0, 0.1);

	/* Spacing */
	--spacing-small: 8px;
	--spacing-medium: 15px;
	--spacing-large: 30px;
	--spacing-xlarge: 40px;

	/* Sizes */
	--max-width-container: 50rem;
	--max-width-element: 500px;

	/* Border Radius */
	--border-radius-small: 8px;
	--border-radius-medium: 10px;
	--border-radius-large: 40px;
	--border-radius-full: 9999px;

	/* Font Sizes */
	--font-size-small: 0.8rem;
	--font-size-medium: 1rem;
	--font-size-large: 2rem;
	--font-size-xlarge: 3rem;

	/* Font Family */
	--font-family-primary: 'Josefin Sans', sans-serif;
	--font-family-secondary: sans-serif;

	/* Animations */
	--transition-standard: 0.2s ease;
	--transition-slow: 1s ease-in-out;
}
